.dash-header {
    background-color: #051B2D;
    font-family: Helvetica;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #051B2D;
    color: #828E97;
}

.menu-button {
    padding: 0px;
    margin-top: 0px;
}

.menu-icons {
    width: 50px;
    height: 40px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 10px 0px
}

.menu-links {
    outline: none;
    color: #000000;
    text-decoration: none;
    font-size: 26px;
    vertical-align: top;
    padding: 5px 60px;
}

.menu-links:hover {
    background: #979CA2;
    border-radius: 5px;
}

.error-page {
    text-align: center;
    padding: 250px 0px;
    font-family: 'Helvetica';
}

body {
    background-color: #F6F6F6;
}