.dash-header {
    background-color: #051B2D;
    font-family: Helvetica;
    font-weight: bold;
}

.menu-button:hover {
    background-color: #051B2D;
    color: #828E97;
}

.menu-button {
    padding: 0px;
    margin-top: 0px;
}

body {
    background-color: #F6F6F6;
}